CONFIG_RISCV32=y
CONFIG_SOC_SERIES_BEEHIVE_RISCV32=y
CONFIG_SOC_BEEHIVE_RISCV32=y
CONFIG_BOARD_BEEHIVE=y
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_BEEHIVE=y
CONFIG_UART_BEEHIVE_PORT_0=y
CONFIG_UART_BEEHIVE_PORT_0_NAME="uart0"
CONFIG_UART_CONSOLE=y
CONFIG_UART_CONSOLE_ON_DEV_NAME="uart0"
CONFIG_PLIC=n
CONFIG_RISCV_MACHINE_TIMER=y
CONFIG_GPIO=n
CONFIG_XIP=y
