# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_BEEHIVE_RISCV32

config SOC_SERIES
	string
	default "beehive_riscv32"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 133000000

config BEEHIVE_FAKE_TIME_WA
  bool
  default y

config BEEHIVE_TIMER_INIT_PRIORITY
        int
        default 45

config RISCV_SOC_INTERRUPT_INIT
	bool
	default y

config RISCV_HAS_CPU_IDLE
	bool
	default y

config RISCV_HAS_PLIC
	bool
	default n

config NUM_IRQS
	int
	default 16

config XIP
	bool
	default y

config RISCV_ROM_BASE_ADDR
	hex
	default 0x1000

config RISCV_ROM_SIZE
	hex
	default 0x12000

config RISCV_RAM_BASE_ADDR
	hex
	default	0x12000

config RISCV_RAM_SIZE
	hex
	default 0x7000

endif # SOC_SERIES_BEEHIVE_RISCV32
